* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

:root {
  --primary-background: black;
  --primary-color: white;
}

@font-face {
  font-family: Poppins-Medium;
  src: url('Poppins/Poppins-Medium.ttf');

}

@font-face {
  font-family: Poppins-Bold;
  src: url('Poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-BlackItalic;
  src: url('Poppins/Poppins-BlackItalic.ttf')
}

body {
  background-color: var(--primary-background);
  color: var(--primary-color);
}

.nav_background_color {
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 1) 100%);
}

.landing_page_background {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  background-image: url('images/landing-background-img.jpg');
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: relative;
    z-index: -1; */

}

.main_container {
  margin: 0px;
  padding: 0px;

}

.Landing_Page_Heading {
  padding: 0px;
  top: 30%;
  font-size: 7vw;
  /* line-height: 1vw; */
  position: absolute;
  line-height: 60px;
  /* border:1px solid red; */

}

.Landing_Page_Heading {
  /* border:1px solid red; */
  font-weight: 600;
  /* background: linear-gradient(
    to right, 
    hsl(192, 100%, 76%), 
    hsl(202, 100%, 74%),
    hsl(263, 45%, 56%),
    hsl(263, 100%, 85%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  */

}

.Landing_Page_Heading>h1 {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/501/442/455/shallow-focus-photo-of-yellow-hawaiian-honeycreeper-sunbird-sunbird-wallpaper-preview.jpg");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  font-size: 15vw;
  line-height: auto;
  font-weight: bolder;
  text-transform: uppercase;
  /* line-height: 20px; */

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient_heading_1 {
  background: linear-gradient(to right,
      hsl(192, 100%, 76%),
      hsl(256, 100%, 84%),
      hsl(263, 45%, 56%),
      hsl(263, 100%, 85%));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient_heading_2 {
  background: rgb(240, 255, 81);
  background: linear-gradient(83deg, rgba(240, 255, 81, 1) 0%, rgba(33, 178, 6, 1) 52%, rgba(40, 96, 0, 1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient_heading_3 {
  background: rgb(112, 124, 255);
  background: linear-gradient(83deg, rgba(112, 124, 255, 1) 0%, rgba(213, 125, 255, 1) 52%, rgba(199, 0, 193, 1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient_heading_4 {
  background: linear-gradient(to right,
      orange, red);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Mobile Screen Only  */
@media screen and (max-width: 768px) {
  .Landing_Page_Heading {
    font-size: 10vw;
    text-align: center;
    width: 100%;
    overflow: hidden;
  }

  .Landing_Page_Heading>h1 {
    font-size: 16vw;
  }
}

a {
  text-decoration: none;
  color: var(--primary-color);
  transition: all 0.9s;
}

.slide {
  border: 1px solid white;
  padding: 1px 15px;
  border-radius: 30px;
}

.slide:hover,
.slide:focus {
  color: hsl(192, 100%, 76%);
  text-shadow: 1px 1px 1px hsl(192, 100%, 76%);
  box-shadow: inset 6.5em 0 0 0 var(--primary-color);
}

.pill-btn {
  border-radius: 2.4rem;
}

.nav-link {
  transition: all 2s ease-in;
}

.nav-link:hover {

  /* transition: all 0.5s ease-in-out; */
  background: linear-gradient(to right,
      hsl(192, 100%, 76%),
      hsl(256, 100%, 84%),
      hsl(263, 45%, 56%),
      hsl(263, 100%, 85%));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.what_we_offer_card {
  cursor: pointer;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  padding: 6px 10px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 320px; */
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
  padding: 32px;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.what_we_offer_card::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;

  z-index: -1;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.what_we_offer_card:hover::before {
  height: 100%;
  color: white;
}

.what_we_offer_card:hover {
  box-shadow: none;
  color: white;
}

.card_1::before {
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
}

.card_2::before {
  background: linear-gradient(-45deg, #d15ff3 0%, #a70fff 100%);
}

.card_3::before {
  background: linear-gradient(-45deg, #00ff55e3 0%, #b7ff0f 100%);
}

.card_4::before {
  background: linear-gradient(-45deg, hsl(192, 100%, 76%) 0%, hsl(263, 45%, 56%) 100%);
}

.card_5::before {
  background: linear-gradient(-45deg, #79ebffe3 0%, #ff0f6b 100%);
}

.card_6::before {
  background: linear-gradient(-45deg, rgba(199, 0, 0, 0.89) 0%, #ff0fdf 100%);
}

.Destinations_card {
  padding: 0px;
  background-color: red;
  margin: 30px;
  cursor: pointer;
  position: relative;
  height: 15rem;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  /* box-shadow: 0 4px 6px rgb(117, 117, 117); */
}

.Destinations_card:hover {
  transform: scale(1.05);
}

.Destinations_card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: bottom 0.3s;
}

.Destinations_card:hover .overlay {
  bottom: 0;
}

.overlay h2 {
  margin: 0;
  font-size: 1.5rem;
}

.overlay p {
  margin: 8px 0 0;
  font-size: 1rem;
}

.Explore_more_btn {
  outline: none;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%)1;
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  transition: all 0.6s ease-in;
}

.Explore_more_btn:hover {
  color: black;
  /* text-shadow: 1px 1px 1px hsl(192, 100%, 76%); */
  box-shadow: inset 13rem 0 0 0 var(--primary-color);
}


.cards-container {
  padding: 0px;
  position: relative;
  aspect-ratio: 16/9;
  /* width: 100%; */
  /* min-height: 30rem; */
  overflow: hidden;
}

.top_plan_card {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.top_plan_card:hover {
  transform: scale(1.05);
}

.top_plan_card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay_top_plans {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: transform 0.3s;
}

.top_plan_card:hover .overlay_top_plans {
  transform: translateY(0);
}

.overlay_top_plans h2 {
  margin: 0;
  font-size: 1.5rem;
}

.overlay_top_plans p {
  margin: 8px 0 0;
  font-size: 1rem;
}

/* .nav-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  } */

/* button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  } */
.top_plans_btns {
  outline: none;
  /* color:white; */
  font-size: 25px;
  border: none;
  background: linear-gradient(-45deg, hsl(192, 100%, 75%) 0%, hsl(263, 100%, 50%) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom_plan_form {
  cursor: pointer;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  padding: 6px 10px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  /* align-items: center;
    justify-content: center; */
  /* width: 320px; */
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
  padding: 32px;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.custom_plan_form::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;

  z-index: -1;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.custom_plan_form:hover::before {
  height: 100%;
  color: white;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%)
}

.custom_plan_form:hover {
  box-shadow: none;
  color: white;
}

.location_backdrop_img {
  /* background-image: url("); */
  height: 100vh;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-position: center;
  background-size: cover;
  /* position: relative;
  z-index: 1; */
}

.location_backdrop_img::before {
  content: "";
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.596);
}

.locaton_image {
  aspect-ratio: 16/9;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 3px 3px 5px black;
}

.location_items_container {
  z-index: 2;
  top: 4rem;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
  overflow-x: hidden;
}

/* footer {
  justify-self: flex-end;
} */

/* .container-fluid {
  min-height: 95vh;
} */